<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>Key</ion-label>
  <ion-input [(ngModel)]="anahtar"></ion-input>
</ion-item>
<ion-item>
  <ion-label>id</ion-label>
  <ion-input [(ngModel)]="id"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Ad</ion-label>
  <ion-input [(ngModel)]="name"></ion-input>
</ion-item>
  <br>
  <ion-button expand="full" color="secondary" (click)="ekle()">Kaydet</ion-button>
  <br>
  <ion-button expand="full" color="success" (click)="getObject()">Oku</ion-button>
  <br>
  <ion-button expand="full" color="warning" (click)="keys()">Listele</ion-button>
  <br>
  <ion-button expand="full" color="tertiary" (click)="removeItem()">Anahtar Sil</ion-button>
  <br>
  <ion-button expand="full" color="danger" (click)="clear()">Storage Boşalt</ion-button>

</ion-content>
